
img{
  height: 500px;
  width: 500px;
}

.image-list {
  list-style: none;
}

.flexbox{
  display: flex;
  flex-direction: column;
}

.image-list-container{
  margin-top: 50px;
  align-items: center;
  background-color: rgb(220, 220, 220);
  border-left: black, 10px, solid;
  border-right: black, 2px, solid;
  padding: 50px;
}

.image-card{
  margin-bottom: 30px;
}

@media  (max-width: 1000px) {
  [class*="image-list"]{width: 100%}
  img {
    flex-direction: column;
    width: 250px;
    height: 250px;
    align-items: center;
  }
}
